<! DOCTYPE html>
<html>
<head>
    <!-- ... -->
 
    <!-- DevExtreme theme -->
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/22.2.5/css/dx.light.css">
 
    <!-- DevExtreme library -->
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/22.2.5/js/dx.all.js"></script>
    <!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/22.2.5/js/dx.web.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/22.2.5/js/dx.viz.js"></script> -->
</head>
<body class="dx-viewport">
<h1>Editing invoice</h1>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">New Invoice</h3>
      </div>
		    <div class="panel-body">
        <%= render "form", invoice: @invoice %>
		    </div>
        <div class="panel-heading" id="button">
        <%= link_to 'Back', invoices_path, class: "btn btn-danger" %>
      </div>

		</div>
	</div>
</div>
</body>
</html>